@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 10px 20px -15px #324500;
}

@theme {
  --font-serif: "EB Garamond", sans-serif;
  --font-sans: "Open Sans", sans-serif;

}